<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        </style>
</head>
<body>
    <div>
        <table>
            <h1 class="center">All Books</h1>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Price₹</th>
            </tr>
            {% for b in book %}
            <tr>
                <td>{{b.name}}</td>
                <td>{{b.author}}</td>
                <td>{{b.price}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>